[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
cchardet = "*"
aiohttp = {extras = ["speedups"], version = "*"}
aiohttp-socks = "*"

[dev-packages]

[requires]
python_version = "3.9"
